header{
	background-color: rgb(255,255,255);
	color: black;
    border-bottom: black 3px solid;
	
}

a:hover{
	color: green;
}
img{
    text-align: center;
    top: 15px;
    padding-bottom: 15px;
    border-radius: 20px 30px 20px 15px;
}

h1{
	color:rgb(19,149,141);
    text-decoration-line: underline;
    font-size: 40px;
    font-weight: bolder;
    text-align: left;
    padding-left: 20px;
    padding-top: 0px;
    font-family: 'Satisfy', cursive;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Great Vibes', cursive


}
 .container {
 	text-align: center;
 	color: black;
 	font-size: 20px;
 	font-weight: bolder;
 	text-decoration: none;
 	
 	
 }
 nav a{
 	text-decoration-style: underline;
 	text-decoration: none;
 	color: white;
 	text-align: center;
 	font-size: 15px;
 	font-weight: normal;
 	display: inline;
 	padding: 40px;

 }
 #profile {
 	color: black;
    font-family: 'Lobster', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Righteous', cursive;
 }
 span{
 	color: rgb(5,70,94);
 }

li{
    text-align: center;
    text-decoration: none;
    padding: 10px;
    width: 300px;
    margin: 10px;
    margin-left: 400px;
    padding-right: 10px;
    background: black;
    border-bottom:blue 2px solid;
    font-family: 'Pacifico', cursive;
    font-family: 'Righteous', cursive;
    font-family: 'Lobster', cursive;    
 }
  footer{
  	padding: 40px
  }

 .description{
    font-weight: normal;
 	font-size: 14px;
 	background:white;
 	background-repeat: no-repeat;
 	background-size: cover;
 	background-attachment: fixed;
 	color: black;
 	text-align: center;
 	width: 250;
 	height: 100;
 	padding: 120px;
    font-family: 'Pacifico', cursive;
    font-family: 'Righteous', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Taviraj', serif;
 }

 .description p{
    font-size: 15px;
    padding: 40px;
    font-weight: bolder;
    color: white;
    background-color: black;
     border-bottom:blue 2px solid;
    font-family: 'Satisfy', cursive;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Great Vibes', cursive;
    font-family: 'Playfair Display SC', serif;
    font-family: 'Gupter', serif;

 }

 footer {
    text-align: center;
    padding: 20px;
    font-weight: bold;
}


 	